* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body button:nth-child(even) {
    background-color: orange;
    width: 100px;
    height: 40px;
} */
button {

    color: green;
    width: 100px;


}

.row {
    text-align: center;
    margin: 30px auto;
}